{% include template-start.liquid %}

<main role="main">
    <section class="section section-text-page">
        <div class="container">
            <h2 class="post-title">{{ page.title }}</h2>
            <time datetime="{{ page.date }}" class="post-date">{{ page.date | date_to_string }}</time>
            {% if page.author %}
                <h5 class="post-author">By {{ page.author }}</h5>
            {% endif %}

            <section class="post-content">
                {{ content }}
            </section>
        </div>
    </section>
</main>

{% include template-end.liquid %}
